
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="panel-heading">Nume utilizator: @Model.UserName</div>
<div class="panel-body">
        <i class="glyphicon glyphicon-envelope"></i> Email utilizator:
        <span class="label label-default">@Model.Email</span>
        <br /><br />

        @if (@Model.PhoneNumber != null)
        {
            <i class="glyphicon glyphicon-phone"></i>@:Telefon
utilizator:<span class="label label-default">@Model.PhoneNumber</span>
        }
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Users/Edit/@Model.Id">
            Afisare utilizator
        </a>
    </div>
    <br /><br />