
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<p>@ViewBag.Photo.Name</p>
<p>@ViewBag.Photo.Description</p>
<img src="data:image;base64,@System.Convert.ToBase64String(@ViewBag.Photo.Image)"/>
@foreach (PhotoSharing.Models.Category category in ViewBag.cat)
{
    <p>#@category.Name</p>
}