@{
    ViewBag.Title = "Edit";
}
<h2>Edit your comment</h2>

<form method="post" action="/Comment/Edit/@ViewBag.Comment.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Text:</label>
    <br />
    <input type="text" name="Text" value="@ViewBag.Comment.Text" />
    <br /><br />
    <button style="background-color:#fff; color:#000; padding:10px 20px; border-radius:10px; font-weight:bolder; margin-top:50px; margin:0 auto;" type="submit">Edit Comment</button>
</form>
